
<div class="manage-project-new-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-transparen waves-light btn-back" mdbWavesEffect>
                    <i class="material-icons">arrow_back_ios</i>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">New project</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            asdc
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>