
.btn-back {
    border-radius: 2rem;
    box-shadow: none;    
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
    color: inherit;

    &:hover, 
    &:active,
    &:focus {
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
}


.col-form-label {
    text-align: right;
    padding: 0.5rem;
}

.md-form {
    margin-top: 0;
}

.btn-save {
    margin-left: 0;
    margin-right: 0;
}