<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Projects list</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-filter">
                            <div class="md-form">
                                <input mdbInputDirective type="text" id="form1" class="form-control"
                                [mdbValidate]="false"
                                [(ngModel)]="searchValue" (ngModelChange)="searchProject()">
                                <label for="form1" class="">Search by project name</label>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        <a class="cursor-pointer" 
                                        (click)="sortProjectsListById()">ID <i class="fa fa-sort"></i></a>
                                    </th>
                                    <th>
                                        <a  class="cursor-pointer"
                                        (click)="sortProjectsListByName()">
                                            Name <i class="fa fa-sort"></i>
                                        </a>
                                    </th>
                                    <th>Number of member <i class="fa fa-sort"></i></th>
                                    <th>Status</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let project of listProjectView">
                                        <td>{{project.id}}</td>
                                        <td>{{project.name}}</td>
                                        <td>{{project.numberOfMember}}</td>
                                        <td>
                                            <ng-container *ngIf="project.isDeleted">
                                                <i class="fa fa-circle project-status-icon color-red"></i><span>deleted</span>
                                            </ng-container>
                                            <ng-container *ngIf="!project.isDeleted">
                                                <i class="fa fa-circle project-status-icon color-green"></i><span>online</span>
                                            </ng-container>
                                        </td>
                                        <td class="text-primary view-detail">
                                            <a [routerLink]="[project.id]">
                                                view
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>