
.vs/Filla_Soft.Web/v15/.suo
*.config
.vs/Filla_Soft.Web/DesignTimeBuild/.dtbcache
.vs/Filla_Soft/DesignTimeBuild/.dtbcache
.vs/Filla_Soft/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
src/Filla_Soft.Core/bin/
src/Filla_Soft.Infrastructor/bin/
src/Filla_Soft.Core/obj/
src/Filla_Soft.Infrastructor/obj/