.navbar {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                p {
                    margin: 0;
                }
            }
        }
    }
}

.navbar-minimize {
    .material-icons {
        font-size: 33px;
    }
}

.btn-transparent {
    background-color: transparent;
    box-shadow: none;
}

.logo {
    // padding: 15px 0px;
    margin: 0;
    margin-right: 1em;
    display: block;
    position: relative;
    z-index: 4;

    .simple-text {
        text-transform: uppercase;
        padding: 5px 0px;
        display: inline-block;
        font-size: 18px;
        color: #fff;
        white-space: nowrap;
        font-weight: 400;
        line-height: 30px;
        overflow: hidden;
        display: block;
    }

    a.logo-mini {
        float: left;
        width: 30px;
        // margin-left: 23px;
        margin-right: 15px;
    }

    .logo-img {
        width: 35px;
        display: block;
        max-height: 30px;
        // margin-left: 13px;
        margin-right: 15px;

        img {
            position: absolute;
            width: 36px;
            top: 2px;
            left: 0;
        }
    }
}