
.project-detail-header {
    text-align: center;

    a {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.8rem;
        display: block;
        float: left;

        &:hover {
            background-color: lightgrey;
            border-radius: 2rem;
        }
    }
    i {
        font-size: 1.6rem;
        margin-right: 1rem;
        vertical-align: middle;
    }

    span {
        padding: 15px 40px;
        font-size: 24px;
    }
}