
<div class="project-detail-wrapper" *ngIf="dataLoaded">
    <div class="project-detail-header">
        <a class="project-back" [routerLink]="['/manage', 'project']"><i class="fa fa-chevron-left"></i>Back</a>
        <span class="badge badge-primary">{{project.name}}</span>
        <div class="clear-both"></div>
    </div>
    <div class="project-detail-body">
        <div class="project-detail-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon"><i class="material-icons">assignment</i></div>
                                <h4 class="card-title">Project's user</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!---->
                                            <ng-container *ngFor="let account of projectAccounts; let i = index">
                                                <tr>
                                                    <td class="text-center">{{i + 1}}</td>
                                                    <td>{{account.firstName}}  {{account.lastName}}</td>
                                                    <td>{{account.email}}</td>
                                                    <td class="td-actions text-right">
                                                        <a mdbWavesEffect color="danger" mdbBtn (click)="removeUser(account.id)">
                                                            <i class="material-icons">close</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-detail-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon"><i class="material-icons">assignment</i></div>
                                <h4 class="card-title">Project's user</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Position</th>
                                                <th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!---->
                                            <ng-container *ngFor="let account of accountsView; let i = index">
                                                <tr>
                                                    <td class="text-center">{{i + 1}}</td>
                                                    <td>{{account.firstName}}  {{account.lastName}}</td>
                                                    <td>{{account.email}}</td>
                                                    <td>{{account.role}}</td>
                                                    <td class="td-actions text-right">
                                                        <a mdbWavesEffect color="success" mdbBtn (click)="addToThisProject(account.id)">
                                                            Add topProject
                                                        </a>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>