<div class="issue-details-wrapper">
    <div class="key-summary-actions">
        <div class="key-summay">
            <div class="issue-key">
                {{issue.key}}
            </div>
            <div class="issue-summary">
                {{issue.summary}}
            </div>
        </div>
        <div class="issue-actions">
            <!-- <button type="button" class="btn btn-outline-primary" mdbWavesEffect>
                <i class="material-icons">edit</i>
                Primary
            </button> -->
        </div>
    </div>
    <div class="issue-details-container">
        <div class="issue-part-2">
            <div class="issue-fieldset">
                <div class="field-title">
                    <b>Details</b>
                    <button class="btn btn-dark-green btn-action btn-edit-details" 
                    mdbWavesEffect *ngIf="!isChangeDetailMode"
                    (click)="changeDetails(1)">
                        Edit
                    </button> 
                    <button class="btn btn-danger btn-action btn-cancel-edit-details" 
                    mdbWavesEffect *ngIf="isChangeDetailMode"
                    (click)="changeDetails(2)">
                        Cancel
                    </button> 
                    <button class="btn btn-success btn-action btn-save-edit-details" 
                    mdbWavesEffect *ngIf="isChangeDetailMode"
                    (click)="changeDetails(3)">
                        Save
                    </button> 
                </div>
                <div class="field-items">
                    <div class="field-item field-50">
                        <div class="field-name">Type:</div>
                        <div class="field-value">
                            <span *ngIf="!isChangeDetailMode">{{currentType}}</span>
                            <div class="btn-group" mdbDropdown
                            *ngIf="isChangeDetailMode">
                                <button mdbDropdownToggle type="button"
                                 class="btn btn-outline-primary dropdown-toggle waves-light" 
                                 mdbWavesEffect>
                                 {{currentType}}
                                </button>
                            
                                <div class="dropdown-menu dropdown-primary">
                                    <ng-container *ngFor="let type of issueTypes">
                                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeIssueType(type.id)">{{type.name}}</a>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="field-item field-50">
                        <div class="field-name">Status:</div>
                        <div class="field-value">
                            <span *ngIf="!isChangeDetailMode">{{currentStatus}}</span>
                            <div class="btn-group" mdbDropdown
                            *ngIf="isChangeDetailMode">
                                <button mdbDropdownToggle type="button"
                                    class="btn btn-outline-primary dropdown-toggle waves-light" 
                                    mdbWavesEffect>
                                    {{currentStatus}}
                                </button>
                            
                                <div class="dropdown-menu dropdown-primary">
                                    <ng-container *ngFor="let type of issueStatus">
                                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeIssueStatus(type.id)">{{type.name}}</a>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="field-item field-50">
                            <div class="field-name">Priority:</div>
                            <div class="field-value">
                                <span *ngIf="!isChangeDetailMode">{{currentPriority}}</span>
                                <div class="btn-group" mdbDropdown
                                *ngIf="isChangeDetailMode">
                                    <button mdbDropdownToggle type="button"
                                     class="btn btn-outline-primary dropdown-toggle waves-light" 
                                     mdbWavesEffect>
                                     {{currentPriority}}
                                    </button>
                                
                                    <div class="dropdown-menu dropdown-primary">
                                        <ng-container *ngFor="let type of issuePriority">
                                            <a class="dropdown-item" href="javascript:void(0);" (click)="changeIssuePriority(type.id)">{{type.name}}</a>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="clear-both"></div>
                    </div>
                    <div class="field-item field-50">
                        <div class="field-name">Resolution:</div>
                        <div class="field-value">
                            <span *ngIf="!isChangeDetailMode">{{currentResolution}}</span>
                            <div class="btn-group" mdbDropdown
                            *ngIf="isChangeDetailMode">
                                <button mdbDropdownToggle type="button"
                                    class="btn btn-outline-primary dropdown-toggle waves-light" 
                                    mdbWavesEffect>
                                    {{currentResolution}}
                                </button>
                            
                                <div class="dropdown-menu dropdown-primary">
                                    <ng-container *ngFor="let type of issueResolution">
                                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeIssueResolution(type.id)">{{type.name}}</a>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>

            <div class="issue-fieldset">
                <div class="field-title">
                    <b>Description</b>
                    <ng-container *ngIf="description && !isChangeDescriptionMode">
                        <button class="btn btn-dark-green btn-action btn-edit-details" 
                        mdbWavesEffect (click)="isChangeDescriptionMode = true; tempDescription = description">
                            Edit
                        </button> 
                    </ng-container>
                    <ng-container *ngIf="isChangeDescriptionMode">
                        <button class="btn btn-danger btn-action btn-cancel-edit-details" 
                        mdbWavesEffect (click)="isChangeDescriptionMode = false; tempDescription = description">
                            Cancel
                        </button> 
                        <button class="btn btn-success btn-action btn-save-edit-details" 
                        mdbWavesEffect (click)="isChangeDescriptionMode = false;  description = tempDescription">
                            Save
                        </button> 
                    </ng-container>
                </div>
                <div class="field-items">
                    <div class="issue-has-description" *ngIf="description">
                        <div *ngIf="!isChangeDescriptionMode">
                            {{description}}
                        </div>
                        <textarea class="input-description" *ngIf="isChangeDescriptionMode" [(ngModel)]="tempDescription"></textarea>
                    </div>
                    <div class="issue-no-description" *ngIf="!description">
                        <a href="javascript:void(0)" *ngIf="!isChangeDescriptionMode" 
                        (click)="isChangeDescriptionMode = true">
                            <i>Click to add desciption</i>
                        </a>
                        <textarea class="input-description" *ngIf="isChangeDescriptionMode"[(ngModel)]="tempDescription"></textarea>
                    </div>


                    <div class="issue-no-description" *ngIf="!description && !isChangeDescriptionMode">
                        <a href="javascript:void(0)" (click)="isChangeDescriptionMode = true">
                            <i>Click to add desciption</i>
                        </a>
                    </div>
                    <div class="issue-has-description" *ngIf="isChangeDescriptionMode">
                        
                    </div>
                </div>
            </div>

            <div class="issue-fieldset">
                <div class="field-title">
                    <b>Attachments</b>
                    <button class="btn btn-dark-green btn-action btn-edit-details" 
                    mdbWavesEffect>
                        <i class="material-icons icon-inside-button">add</i>
                    </button>
                </div>
                <div class="field-items">

                </div>
            </div>
        </div>
        <div class="issue-part-1">
            <div class="issue-fieldset">
                <div class="field-title">
                    <b>People</b>
                </div>
                <div class="field-items">
                    <div class="field-item">
                        <div class="field-name">Assignee</div>
                        <div class="field-value">Andrei Timohi</div>
                    </div>
                    <div class="field-item">
                        <div class="field-name">Reporter</div>
                        <div class="field-value">Andrei Timohi</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>