@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}


.clear-both {
  clear: both;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}


.dropdown-menu-disable {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.7em;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.show > .dropdown-menu-disable {
  display: block;
}
.main-panel .main-content {
  margin-top: 3.4375em;
  min-height: calc(100vh - 3.4375em);
}


.sidebar[data-background-color=red] .simple-text, 
.sidebar[data-background-color=red] .user a {
    color: #fff;
}

.sidebar[data-background-color=red] .logo:after, 
.sidebar[data-background-color=red] .nav li.separator:after, 
.sidebar[data-background-color=red] .user:after {
    background-color: rgba(255,255,255,.3);
}

.main-panel .main-content {
  padding-bottom: 0;
}

.btn-transparent {
  background-color: transparent;
  box-shadow: none;
}

.navbar .collapse .navbar-nav .nav-item .nav-link.btn-group {
  padding: 0;
  text-transform: none;

  .btn {
    padding: 10px 15px;
  }
}