<div class="main-content">
<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<button class=" btn btn-danger waves-light" mdbWavesEffect>text</button>
<a [routerLink]="['/project']">project</a>
</div>
<div class="btn-group" mdbDropdown>
    <button mdbDropdownToggle type="button" outline="true"
    class="btn btn-outline-primary dropdown-toggle waves-light filter-value"
     mdbWavesEffect>
        dsdsdd
    </button>
    <div class="dropdown-menu-disable dropdown-primary">
        khjhjhj
    </div>
</div>

<div class="cc aa btn-group" disableDropdown>
    <button type="button" outline="true"
    class="btn btn-outline-primary dropdown-toggle waves-light filter-value menu-toggle"
     mdbWavesEffect>
        <b>bbbbb</b>aaaaa
    </button>
    <div class="dropdown-menu-disable dropdown-primary">
        yyyyyyyy
    </div>
</div>