

<a [routerLink]="['/manage', 'account']" 
mdbBtn color="secondary" outline="true" class="align-middle waves-dark"
mdbWavesEffect type="button"
routerLinkActive="btn-outline-success btn-lg"
[routerLinkActiveOptions]="{exact: true}" >List</a>

<a [routerLink]="['/manage', 'account', 'new']"
mdbBtn color="secondary" outline="true" class="align-middle waves-dark"
mdbWavesEffect type="button"
routerLinkActive="btn-outline-success btn-lg"
[routerLinkActiveOptions]="{exact: true}">New account</a>
<router-outlet></router-outlet> 